syntax: glob

# backup files
*.orig

# emacs backups
*~

# vim swap files
.*.swp

# patching rejects
*.rej

# .DS_Store
.DS_Store

# IJ workspace state
*.iws

# compiled classes
classes/**

# doxygen files
docs/generated/**

# generated source
gen/**

# built jars
mesh.jar
