syntax: glob

# backup files
*.orig

# emacs backups
**/*~

# patching rejects
*.rej

# .DS_Store
**/.DS_Store
.DS_Store

# IJ workspace state
**/*.iws

# compiled classes
classes/**

# doxygen files
docs/generated/**

# generated parser
gen/**

# built jars
mesh.jar

# vim swap files
.*.swp
